# API Playground

This is a branch of the my API Playground repository. Each branch is a self-contained extension that demonstrates a particular API, repros a bug, answers a stackoverflow question, etc.

## Summary

## Link to vsix:

## Link to inspiration:

## Setup:

## Apis Used:

## Release Notes
